TODO:
add J17, J27

In [1]:
import pandas as pd
import os
import nwis_pull as nwis
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt

In [2]:
start_date = '2010-01-01'

TODO: parallel - grab data sources from NWIS

In [3]:
# siteid  =  '08169000'
# station_nm = 'Comal Rv at New Braunfels, TX'
# param_code = '00060'
# df = nwis.pull_data.realtime(siteid, start_date=start_date, end_date='2018-10-18', param_code=param_code)
# df['Comal River'] = df[param_code]
# del df[param_code]

In [4]:
# siteid2 = '08168932'
# station_nm2 = 'Comal Rv (nc) nr Landa Lk, New Braunfels, TX'
# df2 = nwis.pull_data.realtime(siteid2, start_date=start_date, end_date='2018-10-18', param_code=param_code)
# df2['Comal Rv (nc)'] = df2[param_code]
# del df2[param_code]

In [5]:
# siteid3 = '08168913'
# station_nm3 = 'Comal Rv (oc) nr Landa Lk, New Braunfels, TX'
# df3 = nwis.pull_data.realtime(siteid3, start_date=start_date, end_date='2018-10-18', param_code=param_code)
# df3['Comal Rv (oc)'] = df3[param_code]
# del df3[param_code]

In [6]:
# df.to_csv(os.path.join('..', 'data', 'USGS_streamgage', '08169000_ComalRv.csv'))
# df2.to_csv(os.path.join('..', 'data', 'USGS_streamgage', '08168932_ComalRvnc.csv'))
# df3.to_csv(os.path.join('..', 'data', 'USGS_streamgage', '08168913_ComalRvoc.csv'))

In [7]:
comalRv   = pd.read_csv(os.path.join('..', 'data', 'USGS_streamgage', '08169000_ComalRv.csv'))
comalRvnc = pd.read_csv(os.path.join('..', 'data', 'USGS_streamgage', '08168932_ComalRvnc.csv'))
comalRvoc = pd.read_csv(os.path.join('..', 'data', 'USGS_streamgage', '08168913_ComalRvoc.csv'))

comalRv.set_index(pd.to_datetime(comalRv['datetime']), inplace=True)
comalRvnc.set_index(pd.to_datetime(comalRvnc['datetime']), inplace=True)
comalRvoc.set_index(pd.to_datetime(comalRvoc['datetime']), inplace=True)

In [8]:
# df = df.merge(df2, left_index=True, right_index=True)
# df = df.merge(df3, left_index=True, right_index=True)
# print(df.head())

In [9]:
df_main = comalRv.merge(comalRvnc, left_index=True, right_index=True)
df_main = df_main.merge(comalRvoc, left_index=True, right_index=True)
df_main.to_csv(os.path.join("..", "data", "USGS_streamgage", "main_ComalRvs.csv"))

In [16]:
j17 = pd.read_csv(os.path.join('..', 'data', 'j17.csv'))
j17['datetime'] = pd.to_datetime(j17['pdate'])
del j17['pdate']
j17 = j17.loc[j17['datetime'] > pd.to_datetime("05/05/2014")]
j17.index = j17['datetime']
j17 = j17[['MaxLevel']]
j17.to_csv(os.path.join("..", "data", "dailyDateRange_j17.csv"))
j17 = pd.DataFrame(j17.resample('15 min').ffill())
j17.to_csv(os.path.join("..", "data", "15mindateRange_j17.csv"))

df_main.head()

,Comal River,Comal Rv (nc),datetime,Comal Rv (oc),MaxLevel
datetime,,,,,
2014-05-06 00:00:00,116.0,61.9,2014-05-06 00:00:00,50.7,632.095
2014-05-06 00:15:00,118.0,61.9,2014-05-06 00:15:00,50.7,632.095
2014-05-06 00:30:00,116.0,61.9,2014-05-06 00:30:00,50.7,632.095
2014-05-06 00:45:00,118.0,61.9,2014-05-06 00:45:00,50.7,632.095
2014-05-06 01:00:00,120.0,61.9,2014-05-06 01:00:00,50.7,632.095

In [17]:
j27 = pd.read_csv(os.path.join('..', 'data', 'j27.csv'))
j27['datetime'] = pd.to_datetime(j27['pdate'])
del j27['pdate']
j27 = j27.loc[j27['datetime'] > pd.to_datetime("05/05/2014")]
j27.index = j27['datetime']
j27 = j27[['MaxLevel']]
j27.to_csv(os.path.join("..", "data", "dailydateRange_j27.csv"))
j27 = pd.DataFrame(j27.resample('15 min').ffill())
j27.to_csv(os.path.join("..", "data", "15mindateRange_j27.csv"))

In [12]:
df_main = df_main.merge(j17, right_index=True, left_index=True)
print(df_main.head())

                              datetime_x  Comal River  Unnamed: 0_x  \
datetime
2014-05-06 00:00:00  2014-05-06 00:00:00        116.0           188
2014-05-06 00:15:00  2014-05-06 00:15:00        118.0           189
2014-05-06 00:30:00  2014-05-06 00:30:00        116.0           190
2014-05-06 00:45:00  2014-05-06 00:45:00        118.0           191
2014-05-06 01:00:00  2014-05-06 01:00:00        120.0           192

                              datetime_y  Comal Rv (nc)  Unnamed: 0_y  \
datetime
2014-05-06 00:00:00  2014-05-06 00:00:00           61.9         77704
2014-05-06 00:15:00  2014-05-06 00:15:00           61.9         77705
2014-05-06 00:30:00  2014-05-06 00:30:00           61.9         77706
2014-05-06 00:45:00  2014-05-06 00:45:00           61.9         77707
2014-05-06 01:00:00  2014-05-06 01:00:00           61.9         77708

                                datetime  Comal Rv (oc)  MaxLevel
datetime
2014-05-06 00:00:00  2014-05-06 00:00:00           50.7   632.095
2014-05-06 00:15:00  2014-05-06 00:15:00           50.7   632.095
2014-05-06 00:30:00  2014-05-06 00:30:00           50.7   632.095
2014-05-06 00:45:00  2014-05-06 00:45:00           50.7   632.095
2014-05-06 01:00:00  2014-05-06 01:00:00           50.7   632.095

In [15]:
cols_list = ["Unnamed: 0_x", "Unnamed: 0_y", "datetime_x", "datetime_y", "MaxLevel_x", "MaxLevel_y"]
columns = df_main.columns
for col in columns:
    if col in cols_list:
        del df_main[col]

print(df_main.head())

                     Comal River  Comal Rv (nc)             datetime  \
datetime
2014-05-06 00:00:00        116.0           61.9  2014-05-06 00:00:00
2014-05-06 00:15:00        118.0           61.9  2014-05-06 00:15:00
2014-05-06 00:30:00        116.0           61.9  2014-05-06 00:30:00
2014-05-06 00:45:00        118.0           61.9  2014-05-06 00:45:00
2014-05-06 01:00:00        120.0           61.9  2014-05-06 01:00:00

                     Comal Rv (oc)  MaxLevel
datetime
2014-05-06 00:00:00           50.7   632.095
2014-05-06 00:15:00           50.7   632.095
2014-05-06 00:30:00           50.7   632.095
2014-05-06 00:45:00           50.7   632.095
2014-05-06 01:00:00           50.7   632.095

In [ ]:
corr = df_main.corr()
print(corr)

In [ ]:
scatter_matrix(df_main, alpha=.01)
# plt.tight_layout()
plt.savefig(os.path.join('..', 'img', 'corr_plt.png'))