In [2]:
import pandas as pd
import os
import numpy as np

In [22]:
df = pd.read_csv(os.path.join("..", "data", "precip", "NCDC", "1532091.csv"))
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TMAX,TMIN,TOBS
0,USC00415018,"LAMPASAS, TX US",31.0717,-98.1847,314.6,1930-01-01,0.00,68.0,45.0,NaN
1,USC00415018,"LAMPASAS, TX US",31.0717,-98.1847,314.6,1930-01-02,0.01,65.0,32.0,NaN
2,USC00415018,"LAMPASAS, TX US",31.0717,-98.1847,314.6,1930-01-03,0.00,56.0,30.0,NaN
3,USC00415018,"LAMPASAS, TX US",31.0717,-98.1847,314.6,1930-01-04,0.00,61.0,21.0,NaN
4,USC00415018,"LAMPASAS, TX US",31.0717,-98.1847,314.6,1930-01-05,0.00,64.0,22.0,NaN

In [23]:
stations = df['STATION'].unique()
stations

array(['USC00415018', 'USC00419099', 'USC00419504', 'USC00410738',
       'USC00411250', 'USC00411580', 'USC00416367', 'USC00411990',
       'USC00418531'], dtype=object)

In [24]:
for station in stations:
    tempdf = df.loc[df['STATION'] == station]
    tempdf.to_csv(os.path.join("..", "data", "precip", "NCDC", "output_stations", f"{station}.csv" ))